<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    
    <add key="CustomContextKey" value="DbFileContext" />
    <add key="CustomCacheWrapper" value="False" />
    <add key="CustomErrorViewPath" value="~/views/shared/customerror.cshtml" />
    <add key="CustomErrorController" value="" />
    <add key="CustomDbFileContextVerbose" value="True" />
    <add key="CustomForceRecompilation" value="True" />


    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Environment" value="Debug" />

    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />

  </appSettings>

  <connectionStrings>
    <add name="DbFileContext" connectionString="Server=.\SQLEXPRESS;Database=MvcFromDb; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DbFileContext" connectionString="Server=6bd37ddc-2b63-4990-9c8d-a391002556be.sqlserver.sequelizer.com;Database=db6bd37ddc2b6349909c8da391002556be;User ID=kbpkprlpuhwabeti;Password=ysuYHrBokerZs5pQHu2ug5LCrGTB3zwKcf2xJLUhGvnExJr2cmzPqyoBPZFbEauT;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />

    <httpRuntime targetFramework="4.5.1" maxRequestLength="102400" executionTimeout="3600" />
    <globalization culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" enableBestFitResponseEncoding="false" />
    <authentication mode="None">
      
    </authentication>
    <customErrors mode="Off" />

    <healthMonitoring enabled="true" heartbeatInterval="0">
      <providers>
        <add name="TraceEventProvider" type="System.Web.Management.TraceWebEventProvider,
            System.Web,Version=4.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <profiles>
        <add name="Trace" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </profiles>
      <rules>
        <remove name="All Errors"/>
        <add name="All Errors"
            eventName="All Errors"
            provider="TraceEventProvider"
            profile="Default"
            minInstances="1"
            maxLimit="Infinite"
            minInterval="00:00:05"
            custom="" />

        <remove name="Application Events"/>
        <add name="Application Events"
            eventName="Application Lifetime Events"
            provider="TraceEventProvider"
            profile="Default"
            minInstances="1"
            maxLimit="Infinite"
            minInterval="00:00:05"
            custom="" />
      </rules>
    </healthMonitoring>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="Auto">
      
    </httpErrors>
    <handlers>
      <add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>

  </system.webServer>

  <runtime>
    <!--<probing privatePath="~/_Plugins/" />-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>