@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Host Web Appliction</title>
</head>
<body>
    <div>
        <p>Database is empty. Please upload files.</p>
    </div>
</body>
</html>
